<div class="gradient-block"></div>
<div class="row header-content">
    <div class="logo">
        <a href="/"></a>
    </div>

    <nav id="main-nav-wrap">
        <ul class="main-navigation sf-menu">
            <li class="searchLi" style="display: none;" ><input id="search" type="text" placeholder="Search anything..."></li>
            <li><a class="button" href="/search" id="searchBtn" type="button">Search</a></li> 
            <li class="current"><a href="/" title="">Home</a></li>
            <li class="has-children">
                <a style="pointer-events:none;cursor:default;" title="">Categories</a>
                <ul class="sub-menu">
                    <li><a href="/sports">Sport</a></li>
                    <li><a href="/travel">Travel</a></li>
                    <li><a href="/technology">Technology</a></li>
                    <li><a href="/culture">Culture</a></li>
                    <li><a href="/magazine">Magazine</a></li>
                </ul>
            </li>
            <li class="about"><a href="/about">About</a></li>
            <li class="contact"><a href="/contact">Contact</a></li>
            <li style="display: none;" class="country"><select name="country" id="country">
                <option value="">Select Country</option>
                <option value="tr">TR</option>
                <option value="us">US</option>
                <option value="de">DE</option>
            </select></li>
        </ul>
    </nav>

    <div class="triggers">
        <a href="#" class="menu-toggle"><span>Menu</span></a>
    </div>
    <!-- end triggers-->
</div>
<!-- end header-->