 <!-- basic page needs -->
 <meta charset="UTF-8">
 <title>NewsPager</title>
 <meta name="description" content="">
 <meta name="author" content="">

 <!-- mobile specific metas -->
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 <!-- CSS -->
 <link rel="stylesheet" href="/style/base.css">
 <link rel="stylesheet" href="/style/vendor.css">
 <link rel="stylesheet" href="/style/main.css">


 <!-- Scripts -->
 <script src="/scripts/modernizr.js"></script>
 <script src="/scripts/pace.min.js"></script>


 <!-- Favicons -->
 <link rel="shortcut icon" href="../fonts/svg/logo.svg" type="image/x-icon">
 <link rel="icon" href="../fonts/svg/logo.svg" type="image/x-icon">